<%- include('includes/head', { pageTitle: 'Your Order' }) %>
  <link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Your Order</h1>
    <section>
      <article class="order-item">
        <div class="order-info">
          <h2>Order #<%= order.id %></h2>
          <p class="order-date">Created on <%= order.formattedDate %></p>
          <h3>Order details: </h3>
          <ol class="order-products-list">
            <% for (const orderItem of order.orderData.items) { %>
              <li><p><a href="/products/<%= orderItem.product.id %>"><%= orderItem.product.title %></a> - £<%= orderItem.totalPrice %> (£<%= orderItem.product.price %> x <%= orderItem.quantity %>)</p></li>
            <% } %>
          </ol>
          <p><strong>Total: £<%= order.orderData.totalAmount.toFixed(2) %> (<%=order.orderData.totalQuantity%> items)</strong></p>
        </div>
        <div class="order-info-actions">
          <h2 class="badge"><%= order.status %></h2>
        </div>
      </article>
      <article class="order-item">
        <div class="order-info">
        <h2>Shipping details: </h2>
        <p><%= order.customerData.name %></p>
        <p><%= order.customerData.address.street %></p>
        <p><%= order.customerData.address.city %></p>
        <p><%= order.customerData.address.postcode %></p>
        <p><%= order.customerData.address.country.toUpperCase() %></p>
        </div>
      </article>
    </section>
    <button class="btn btn-alt" onclick="history.go(-1)">Go back</button>
  </main>
  <%- include('includes/footer') %>
</body>
