<article class="cart-item">
  <img src="<%= item.product.imageURL %>" alt="<%= item.product.title %>" />
  <div class="cart-item-info">
    <h2>
      <a href="/products/<%= item.product.id%>"><%= item.product.title %></a>
    </h2>
    <p>
      £<span class="cart-item-price"><%= item.totalPrice.toFixed(2) %></span>
      <span class="cart-item-original-price"
        >(£<%= item.product.price.toFixed(2) %>)</span
      >
    </p>
    <div
      class="cart-item-quantity-action"
      data-product-id="<%= item.product.id%>"
      data-csrf-token="<%= locals.csrfToken %>"
    >
      <button data-action="decrease" class="btn btn-alt">-</button>
      <input
        type="number"
        name="quantity"
        step="1"
        min="0"
        max="99"
        value="<%= item.quantity %>"
        required
        disabled
        aria-label="quantity of <%= item.product.title %>"
      />
      <button data-action="increase" class="btn btn-alt">+</button>
    </div>
  </div>
  <div class="cart-item-buttons">
    <button
      data-product-id="<%= item.product.id%>"
      data-csrf-token="<%= locals.csrfToken %>"
      type="button"
      class="btn btn-alt btn-remove"
    >
      Remove
    </button>
  </div>
</article>
