<article class="cart-item">
  <img src="<%= item.product.imageURL %>" alt="<%= item.product.title %>" />
  <div class="cart-item-info">
    <h2><%= item.product.title %></h2>
    <p>$<%= item.totalPrice.toFixed(2) %> <span>($<%= item.product.price.toFixed(2) %>)</span></p>
  </div>
  <div class="cart-item-actions">
    <input
      type="number"
      step="1"
      value="<%= item.quantity %>"
      min="0"
      max="9999"
      required
    />
    <button class="btn btn-alt">Update</button>
  </div>
</article>
