<article class="cart-item">
  <img src="<%= item.product.imageURL %>" alt="<%= item.product.title %>" />
  <div class="cart-item-info">
    <h2><%= item.product.title %></h2>
    <p>
      $<span class="cart-item-price"><%= item.totalPrice.toFixed(2) %></span>
      <span class="cart-item-original-price">($<%= item.product.price.toFixed(2) %>)</span>
    </p>
  </div>
  <form
    class="cart-item-actions"
    data-product-id="<%= item.product.id%>"
    data-csrf-token="<%= locals.csrfToken %>"
  >
    <input
      type="number"
      name="quantity"
      step="1"
      value="<%= item.quantity %>"

      required
    />
    <div class="cart-item-buttons">
      <button class="btn btn-alt">Update</button>
      <button type="button" class="btn btn-alt btn-remove">Remove</button>
    </div>
  </form>
</article>
