<%- include('includes/head', { pageTitle: product.title }) %>
  <link rel="stylesheet" href="/styles/products.css">
  <script src="/scripts/cart.js" defer></script>
</head>
<body>
  <%- include('includes/header') %>
  <main id="product-details">
    <header>
      <img src="<%= product.imageURL %>" alt="<%= product.title %>">
      <div id="product-info">
        <h2><%= product.title %></h2>
        <p id="product-price">
          £<%= product.price.toFixed(2) %>
        </p>
        <p>
          <%= product.summary %>
        </p>
        <form>
          <button class="btn" data-product-id="<%= product.id %>" data-csrf-token="<%= locals.csrfToken %>">Add to cart</button>
        </form>
      </div>
    </header>
    <section>
      <h3>Description</h3>
      <p id="product-description"><%= product.description %></p>
    </section>
    <% if (false) { %>
    <section>
      <h3>Reviews</h3>
      <p>No reviews yet...</p>
    </section>
    <% } %>
  </main>
  <%- include('includes/footer') %>
</body>
