<%- include('includes/head', { pageTitle: 'Your cart' }) %>
  <link rel="stylesheet" href="/styles/cart.css">
  <script src="/scripts/cart-item-management.js" defer></script>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Your Cart</h1>
    <% if (locals.cart.totalQuantity > 0) { %> 
      <section id="cart-items-section">
        <ul class="cart-items">
          <% for (const cartItem of locals.cart.items) { %> 
            <li>
              <%- include('includes/cart-item', { item: cartItem }) %>
            </li>
          <% } %> 
        </ul>
        <div class="cart-total">
          <% if (locals.isAuth) { %>
            <article class="demo-card-info"><h2>ℹ️ Test Payment Credentials</h2>
              <p>To simulate a successful payment, use test card number provided below.
              </p> 
              <p>CVC - any 3 digits, Date - any future date. The rest of details can be anything you can only imagine.</p>
              <input type="text" value="4242 4242 4242 4242" id="card-number" aria-label="test card number">
                <div class="tooltip">
                  <button class="btn btn-copy">
                    <span class="tooltiptext" id="copy-tooltip">Copy to clipboard</span>
                    Copy
                  </button>
              </div>
            </article>
          <% } %>
          <p class="total">Total: £<span class="cart-total-price"><%= locals.cart.totalAmount.toFixed(2).replace('-0', '0') %></span></p>
          <% if (locals.isAuth) { %>
            <form action="/orders" method="POST">
              <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
              <button type="submit" class="btn">Checkout</button>
            </form>
          <% } else { %>
            <p>You must be logged in to proceed to checkout.</p>
            <p>Please <a href="/login">log in</a> or <a href="/signup">create an account</a>.</p> 
          <% } %>
        </div>
      </section>
    <% } else { %> 
      <section id="cart-empty-section">
        <p>Your cart is empty.</p>
        <a class="btn" href="/products">Shop Now</a>
      </section>
    <% } %> 
  </main>
  <%- include('includes/footer') %>
</body>
