<%- include('includes/head', { pageTitle: 'Your cart' }) %>
  <link rel="stylesheet" href="/styles/cart.css">
  <script src="/scripts/cart-item-management.js" defer></script>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Your Cart</h1>
    <ul class="cart-items">
      <% for (const cartItem of locals.cart.items) { %> 
        <li>
          <%- include('includes/cart-item', { item: cartItem }) %>
        </li>
      <% } %> 
    </ul>
    <div class="cart-total">
      <p>Total: $<span class="cart-total-price"><%= locals.cart.totalAmount.toFixed(2).replace('-0', '0') %></span></p>
      <button class="btn">Checkout</button>
    </div>
  </main>
  <%- include('includes/footer') %>
</body>